*{
    padding: 0px;
    margin: 0px;
   
}

#burgur{
position: relative;
left: 100px;
}

.main1{

width: 100%;
min-height: 400px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 18px;
}

.title1{
width: 340px;
height: 400px;

}
.paren{

   
margin-left: 80px;
}
.title2{
    width: 750px;
    min-height: 300px;

    }
    .titlehead{
        margin-top: 50px;
        text-align: center;
    }
    .titlehead button{
        border-radius: 30px;
        padding: 14px 80px;
      
        margin-top: 5px;
    }
.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
    .main3{
        width: 100%;
        min-height: 300px;
      background-color: #EEE8DE;
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    

    .mbl{
        width: 400px;
        height: 300px;
    text-align: center;
    }
    .mbl img{
        width: 300px;
        height: 300px;
    }
    .mbltitle{
width: 600px;
height: 300px;


    }